<div class="container">
  <mat-toolbar color="primary">
    <a routerLink="/v-logsuccess" class="nav-link"
      >Welcome to Vehicle Management</a
    >
    <span class="spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <!-- <button mat-menu-item (click)="navigateToAddVehicle()">
        Add Vehicle
      </button>
      <button mat-menu-item (click)="navigateToChangePassword()">
        Change Password
      </button> -->
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </mat-toolbar>
</div>

<div class="container">
  <h2 class="form-title">Change Password</h2>
  <form (ngSubmit)="changePassword()">
    <mat-form-field appearance="fill" class="input-field">
      <mat-label>Username</mat-label>
      <input
        matInput
        type="text"
        placeholder="Username"
        [(ngModel)]="username"
        name="username"
        required
      />
      <mat-icon matSuffix aria-label="Username icon" matTooltip="Username"
        >person</mat-icon
      >
      <mat-error *ngIf="!username">User Name is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="input-field">
      <mat-label>Current Password</mat-label>
      <input
        matInput
        type="{{ hideCurrentPassword ? 'password' : 'text' }}"
        placeholder="Current Password"
        [(ngModel)]="currentPassword"
        name="currentPassword"
        required
        minlength="6"
      />
      <mat-icon
        matSuffix
        (click)="toggleCurrentPasswordVisibility()"
        [attr.aria-label]="
          hideCurrentPassword ? 'Show password' : 'Hide password'
        "
        [matTooltip]="hideCurrentPassword ? 'Show Password' : 'Hide Password'"
      >
        {{ hideCurrentPassword ? "visibility_off" : "visibility" }}
      </mat-icon>
      <mat-error *ngIf="!currentPassword"
        >Current Password is required</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="fill" class="input-field">
      <mat-label>New Password</mat-label>
      <input
        matInput
        type="{{ hideNewPassword ? 'password' : 'text' }}"
        placeholder="New Password"
        [(ngModel)]="newPassword"
        name="newPassword"
        required
        minlength="6"
      />
      <mat-icon
        matSuffix
        (click)="toggleNewPasswordVisibility()"
        [attr.aria-label]="hideNewPassword ? 'Show password' : 'Hide password'"
        [matTooltip]="hideNewPassword ? 'Show Password' : 'Hide Password'"
      >
        {{ hideNewPassword ? "visibility_off" : "visibility" }}
      </mat-icon>
      <mat-error *ngIf="!newPassword">New Password is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="input-field">
      <mat-label>Confirm New Password</mat-label>
      <input
        matInput
        type="{{ hideConfirmPassword ? 'password' : 'text' }}"
        placeholder="Confirm New Password"
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        required
        minlength="6"
      />
      <mat-icon
        matSuffix
        (click)="toggleConfirmPasswordVisibility()"
        [attr.aria-label]="
          hideConfirmPassword ? 'Show password' : 'Hide password'
        "
        [matTooltip]="hideConfirmPassword ? 'Show Password' : 'Hide Password'"
      >
        {{ hideConfirmPassword ? "visibility_off" : "visibility" }}
      </mat-icon>
      <mat-error *ngIf="!confirmPassword"
        >Confirm Password is required</mat-error
      >
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">
      Change Password
    </button>
  </form>
</div>
